body {
  margin: 0;
  background: var(--bg-primary);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Noto Color Emoji",
    sans-serif;

  transition:
    background var(--transition-slow),
    color var(--transition-slow);
}
