.home-container {
  margin-left: 72px;
  padding: 20px 0;
  color: var(--text-primary);

  display: flex;
  flex-direction: column;
  align-items: center; /* Căn giữa feed */
  width: calc(100% - 72px);
  transition: all var(--transition-normal);
}

#feed-section {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

/* Responsive cho Mobile & Tablet */
@media (max-width: 768px) {
  .home-container {
    margin-left: 0;
    width: 100%;
    padding: 10px 0;
  }

  #feed-section {
    margin-top: 10px;
    padding: 0 5px;
  }
}
