.home-container {
  margin-left: 260px;
  padding: 20px 0;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#feed-section {
  margin-left: 150px;
  margin-top: 20px;
}
