.home-container {
  margin-left: 240px;
  padding: 20px 0;
  color: var(--text-primary);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#feed-section {
  margin-left: 150px;
  margin-top: 20px;
}
